<%= render 'admin/home/header' %>
<div class="container">
  <h1 class="mb-4">Answers</h1>
  <% if @answers.length > 0 %>
    <table class="table">
      <thead>
        <th>#</th>
        <th>Question</th>
        <th>Answer</th>
        <th>User</th>
        <th>Last Updated</th>
      </thead>
      <% @answers.each_with_index do |answer, idx| %>
        <tr>
          <td><%= idx + 1 %></td>
          <td>
            <a href="/admin/users/<%= answer.question.user.id %>/questions/<%= answer.question.id %>/">
              <%= answer.question.title %>
            </a>
          </td>
          <td><%= answer.description %></td>
          <td>
            <a href="/admin/users/<%= answer.user.id %>"><%= answer.user.name %></a>
          </td>
          <td><%= answer.updated_at %></td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <h5>No records found<h5>
  <% end %>
</div>