<%= render 'admin/home/header' %>
<div class="container">  
  <h1 class="mb-4">Create a Question</h1>
  <div class="form">
    <%= form_with scope: :question, url: admin_user_questions_path, local: true do |form| %>
      <div class="row">
        <div class="col-md-6">
          <p>
            <%= form.label :question_title, :class => 'heading' %>
            <%= form.text_field :title, :class => 'form-control' %>
          </p>
          <p>
            <%= form.label :question_description %>
            <%= form.text_area :description, :class => 'form-control', :rows => 5 %>
          </p>
          <p>
            <%= form.submit :class => 'btn btn-success' %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>