<h1>Create a Question</h1>
<%= form_with scope: :question, url: questions_path, local: true do |form| %>
  <p>
    <%= form.label :question_title %>
    <%= form.text_field :title %>
  </p>
  <p>
    <%= form.label :question_description %>
    <%= form.text_area :description %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>