<%= render 'admin/home/header' %>
<div class="container">
  <h1>
    <%= @question.title %>
  </h1>
  <h5>
    <%= @question.description %>
  </h5>
  <small class="text-danger mt-4">
    <%= link_to "-#{@question.user.name}", admin_user_path(@question.user) %>
  </small>
  <table class="table">
    <td>
    <%= link_to 'Edit', edit_admin_user_question_path %>
    </td>
    <td>
      <%= link_to 'Write an answer', new_admin_user_answer_path(:question_id => @question.id) %>
    </td>
    <td>
      Delete
    </td>
    <td>
      <%= link_to 'Back to Questions', admin_questions_path %>  
    </td>
  </table>
  <% if @question.answers.length > 0 %>
    <h3>Answers</h3>
    <% @question.answers.each do |answer| %>
      <div class="row">
        <div class="col-md-12"><%= answer.description %></div>
      </div>
      <small class="text-danger mb-4 mt-4 ">
        <%= link_to "-#{answer.user.name}", admin_user_path(answer.user) %>
      </small>
      <hr />
    <% end %>
  <% else %>
    <h5 class="disabled">No Answers yet</h5>
  <% end %>
</div>