<div class="head">
  <h3>Forgot Password</h3>
</div>
<div class="body">
    <div>
      <p><%= flash.alert %></p>
    </div>  
  <%= form_with scope: :user, url: send_reset_password_mail_path, local: true do |form| %>
    <div class="form-field">
      <%= form.label :Email %>
      <%= form.email_field :email %>
    </div>
    <div class="form-field">
      <%= form.submit 'Send Reset Password Mail' %>
    </div>
  <% end %>
</div>
